<br/><br/>
<div class="login-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h2 class="text-center">Log in</h2>       
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control", autocomplete: "email" %>
    </div>
    <div class="form-group">
        <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "current-password" %>
    </div>
    <div class="form-group">
      <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
    </div>
    

    <% if devise_mapping.rememberable? %>
      <div class="clearfix">
        <label class="pull-left checkbox-inline"><%= f.check_box :remember_me %>  Remember me</label>
        
      </div> 
    <% end %>
       
  <%end%>
  <%= render "users/shared/links" %>
</div>

<style type="text/css">
  .login-form {
    width: 340px;
      margin: 50px auto;
  }
    .login-form form {
      margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
