<p id="notice"><%= notice %></p>

<h1>Products</h1>
<div class="col-md-12 p-3 border bg-light">
<h4>Filters :</h4>
<%= form_tag products_path, :method => :get, class: "form-inline" do %>
  <div class="form-group col-md-3">
    <%= text_field_tag :name, params[:name], placeholder: "Name", class: "form-control" %>
  </div>
  <div class="form-group col-md-3">
    <%= text_field_tag :brand, params[:brand], placeholder: "Brand", class: "form-control" %>
  </div>
  <div class="form-group col-md-3">
    <%= text_field_tag :model, params[:model], placeholder: "Model", class: "form-control" %>
  </div>
  <div class="form-group col-md-3">
    <%= text_field_tag :ram, params[:ram], placeholder: "RAM", class: "form-control" %>
  </div>
  <div class="form-group col-md-3">
    <%= text_field_tag :external_storage, params[:external_storage], placeholder: "External Storage", class: "form-control" %>
  </div>
  <div class="form-group col-md-3 p-3">
    <%= submit_tag "Search", class: "btn btn-info" %>
    <%= link_to 'Reset', products_path, class: "ml-3 btn btn-info" %>
  </div>
<% end %>
<%= form_tag('/export-excel', :method=>'post') do %>
  <div class="form-group col-sm-2" style="margin-top: 2%;">
    <%= hidden_field_tag 'data', @products.to_json %>
    <button class="btn btn-primary" value="submit">Download File</button>
  </div>
<%end%>
</div>
<table  class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Model</th>
      <th>Brand</th>
      <th>Year</th>
      <th>Ram</th>
      <th>External storage</th>
      <th>Price</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.model %></td>
        <td><%= product.brand %></td>
        <td><%= product.year %></td>
        <td><%= product.ram %></td>
        <td><%= product.external_storage %></td>
        <td><%= product.price %></td>
        <!-- <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>

</table>
  <%= will_paginate @products %>
<br>
<style type="text/css">
  .previous_page, .next_page{
    border: 1px solid burlywood;
    background-color: burlywood;
    padding: 5px 10px 5px 5px;
  }
  .current{
    border: 1px solid burlywood;
    padding: 5px 10px 5px 10px;
    margin: 0 9px;
    background: #fda83a;
  }
  .pagination a {
    border: 1px solid burlywood;
    padding: 5px 10px 5px 10px;
    margin: 0 9px;
    background-color: burlywood;
  }
</style>